<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 小白</title>
    <script src="../resources/js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <table>
        <thead>
            <td>列名1</td><td>列名2</td>
        </thead>
        <tbody>
        <tr>
            <td>内容1</td><td>内容2</td>
        </tr>
        <tr>
            <td>内容1</td><td>内容2</td>
        </tr>
        </tbody>
        <tr>
            <td colspan="2">

            </td>
        </tr>
    </table>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>
</body>
</html>